body {
    font-family: Arial, sans-serif;
    margin: 20px;
    background-color: #f4f4f4;
}

h2 {
    color: #333;
    margin: 15px;
}

.fixed-points {
    position: fixed;
    top: 10px;
    right: 10px;
    background-color: #4CAF50;
    color: white;
    padding: 10px 15px;
    border-radius: 5px;
    z-index: 1000; /* Fixa acima de outros elementos */
}

form {
    background: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    margin-bottom: 20px;
    margin-top: 20px;
}

input[type="text"], input[type="number"], textarea {
    width: 100%;
    padding: 10px;
    margin: 5px 0 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type="submit"] {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 10px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-top: 10px;
    cursor: pointer;
    border-radius: 4px;
}

input[type="submit"]:hover {
    background-color: #45a049;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    background-color: #fff;
}

th, td {
    padding: 12px;
    text-align: left;
    border: 1px solid #ddd;
}

th {
    background-color: #4CAF50;
    color: white;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

@media screen and (max-width: 600px) {
    table, thead, tbody, th, td, tr {
        display: block;
    }

    th {
        display: none; /* Esconde os cabeçalhos em telas pequenas */
    }

    tr {
        margin-bottom: 10px; /* Espaço entre as linhas */
    }

    td {
        text-align: right;
        padding-left: 50%; /* Espaço à esquerda */
        position: relative;
        border: none; /* Remove bordas em dispositivos móveis */
    }

    td::before {
        content: attr(data-label);
        position: absolute;
        left: 10px;
        width: calc(50% - 20px);
        padding-left: 10px;
        text-align: left;
        font-weight: bold;
    }
}


.pontos{
    background-color: #45a049;
    border-radius: 10px;
    color: #333;
    margin-top: 80px;
    height: 50px;
    width: 80%;
    align-items: center;
    display: flex;
    text-align: center;
    justify-content: center;
    margin-left: 40px;
    font-size: 22px;
    color: white;
}